/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Apply box-sizing: border-box to all elements */
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2 {
  margin-bottom: 1rem;
}
a{
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  color: rgb(0, 0, 0);
}

header {
  background: #fda502;
  color: white;
  text-align: center;
  padding: 60px 0;
}

.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  background-color: #fda502;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px;
  width: fit-content;
}

.btn-bgstroke:hover {
  background-color: white;
  color: #fda502;
}

.button-container {
  display: flex;
  justify-content: column;
  align-items: flex-start;
  margin: 2rem 2rem 2rem 0;
}

.button-container {
  list-style-type: none;
}

.button { 
  display: inline-block;
  background-color: #f08827;
  border-radius: 20px;
  border: 4px double #cccccc;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 0.75rem 1rem;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

a.button {
  text-decoration: none;
}

.button:hover {
  background-color: #e7a310b4;
}


#opener.content-container {
  display: flex;
}

.col-1, .col-2 {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 50%;
}

.col-1 {
  padding-right: 1rem;
}

.col-2 {
  padding-left: 1rem;
}

.text-container button {
  background-color: #f08827;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.text-container button:hover {
  background-color: #e7a310b4;
}

.content-container {
  margin: 0 2rem;
}

.image-container {
  margin-left: auto;
  padding-right: 5rem;
}

.cropped1 {
  display: flex;
  position: relative;
  left: 6em;
  height: 70%;
  width: 50%;
  border-radius: 50%;
  object-fit: cover;
  object-position: bottom;
  border: 3px solid rgb(250, 156, 15);
}

p {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.logos {
  display: flex;
  margin-top: 20px;
  padding-bottom: 1rem;
}

.logos img {
  width: auto;
  height: 3rem;
  padding-right: 1rem;
}
